<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/master}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All Categories</title>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">

    <section class="content-header">
    <h1>
        Categories
    </h1>
        <div align="right">

            <button type="button" class="btn btn-info">
                <i class="fa fa-edit"></i>
                Add New
            </button>

        </div>

    </section>


    <section class="content">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title">All Categories Table</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" id="table-search" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" id="btn-search" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="category: ${categories}" th:object="${category}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{#dates.format(createdAt, 'yyyy-MMM-dd hh:mm:s aa')}"></td>
                        <td><span class="label label-success" th:text="*{status}"></span></td>
                        <td >
                            <a class="btn btn-warning btn-xs">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

</div>

<script layout:fragment="script">

    $(document).ready(function () {

        $('#btn-search').on('click', function () {
            window.location = '/admin/categories/all?name='+ $('#table-search').val();
        });
    });

</script>





</body>
</html>
